:root {
    --btn-icon-size: calc(var(--panel-size) * 0.04);
    --header-height: calc(var(--panel-size) * 0.089);
    --panel-height: calc(100% - var(--header-height) - var(--panel-size) * 0.01);
    --btn-panel-size: calc(var(--panel-size) * 0.09);
    --panel-width: calc(var(--panel-size) - var(--panel-size) * 0.02 - var(--btn-panel-size));
    --border-radius: calc(var(--panel-size) * 0.01);
    --grap-space: calc(var(--panel-size) * 0.007);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--panel-size) * 0.05);
    font-weight: bolder;
    text-align: center;
    background-color: rgb(177, 177, 177);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
}

select {
    font-size: calc(var(--panel-size) * 0.04);
    padding: calc(var(--panel-size) * 0.005) calc(var(--panel-size) * 0.02);
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    margin-right: calc(var(--panel-size) * 0.02);
    margin-left: calc(var(--panel-size) * 0.015);
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    align-content: center;
    position: relative;
}

#header {
    background-color: #ffffff;
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
}

#header-icon {
    background-image: url('icon/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(var(--panel-size) * 0.2);
    height: 100%;
    margin-top: calc(var(--panel-size) * 0.01);
    margin-left: calc(var(--panel-size) * 0.02);
}

#search-input {
    margin: calc(var(--panel-size) * 0.03);
    padding: calc(var(--panel-size) * 0.01) calc(var(--panel-size) * 0.025);
    font-size: calc(var(--panel-size) * 0.04);
    border: 1px solid #ccc;
    border-radius: calc(var(--panel-size) * 0.05);
    flex: 1;
}

#login-acc-avt-bar {
    width: var(--header-height);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: calc(var(--panel-size) * 0.02);
}

#login-acc-avt {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(var(--header-height) * 0.75);
    height: calc(var(--header-height) * 0.75);
    border-radius: 50%;
}

#log-box {
    position: absolute;
    width: calc(var(--panel-size) * 0.62);
    height: calc(var(--panel-size) * 0.2);
    top: calc(var(--header-height) + var(--panel-size) * 0.01);
    right: calc(var(--panel-size) * 0.03);
    background-color: #ffffff;
    border-radius: var(--border-radius);
    box-shadow: #1d1c1c 0px 0px calc(var(--panel-size) * 0.02) 0px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    align-content: center;
    z-index: 100;
    font-weight: normal;
    overflow: hidden;
    padding: calc(var(--panel-size) * 0.01);
}

#log-box-avt-box {
    height: 100%;
    width: calc(var(--panel-size) * 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#log-box-avt {
    background-image: url('icon/user.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--border-radius);
    width: 90%;
    height: 90%;
}

#log-box-content {
    flex: 1;
    height: 100%;
}

#log-box-username {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.log-set-bar {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: calc(var(--panel-size) * 0.035);
}

.log-set-bar > div {
    margin: 0 calc(var(--panel-size) * 0.003);
}

.log-set-bar > div:hover {
    color: #1519ff;
}

.set-user-menu {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: calc(var(--panel-size) * 0.8);
    border-radius: var(--border-radius);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    align-content: center;
    font-weight: normal;
    font-size: calc(var(--panel-size) * 0.04);
    padding: calc(var(--panel-size) * 0.01);
    box-shadow: #000000 0px 0px calc(var(--panel-size) * 0.01) 0px;
}

.set-user-menu > :nth-child(1) {
    width: 100%;
    padding: calc(var(--panel-size) * 0.015);
}

.set-user-menu > :nth-child(1) > div {
    width: 100%;
    height: calc(var(--panel-size) * 0.07);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.set-user-menu > :nth-child(1) > img {
    width: 98%;
    margin-bottom: calc(var(--panel-size) * 0.05);
}

.set-user-menu > :nth-child(1) > p {
    color: #ff1515;
    padding: calc(var(--panel-size) * 0.02);
    font-style: italic;
}

.set-user-menu > :nth-child(1) > div > input {
    flex: 1;
    min-width: 0;
    padding: calc(var(--panel-size) * 0.001) calc(var(--panel-size) * 0.015);
    font-size: calc(var(--panel-size) * 0.04);
    border: none;
    border-bottom: #000000 1px solid;
    outline: none;
    margin-left: calc(var(--panel-size) * 0.001);
    overflow-x: auto;
}

.set-user-menu > :nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.set-user-menu > :nth-child(2) > div {
    padding: calc(var(--panel-size) * 0.015);
}

.set-user-menu > :nth-child(2) > div:hover {
    color: #1519ff;
}

#main {
    width: 100vw;
    max-height: calc(100% - var(--header-height));
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: left;
    align-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: var(--grap-space);
    gap: var(--grap-space);
}

.main-item {
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    overflow: hidden;
    user-select: none;
    flex-shrink: 0;
    width: calc(100% / 3 - var(--grap-space) * (1 - 1/3));
    height: calc(var(--panel-size) * 0.7);
}

.main-item.vertical {
    width: 100%;
    height: auto;
}

.main-item > :nth-child(1) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: row;
}

.main-item.vertical > :nth-child(2) {
    display: none;
}

.main-item-lastbar {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.main-item-lastbar.vertical {
    flex-direction: column;
}

.main-item-lastbar > :nth-child(1) {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: column;
}

.main-item-lastbar.vertical > :nth-child(1) {
    width: 100%;
    height: 35%;
    flex-direction: row;
}

.main-item-lastbar > :nth-child(1) > img {
    height: 50%;
    width: auto;
    max-width: 100%;
}

.main-item-lastbar.vertical > :nth-child(1) > img {
    width: 45%;
    height: auto;
}

.main-item-lastbar > :nth-child(1) > div {
    width: 100%;
    height: 50%;
}

.main-item-lastbar.vertical > :nth-child(1) > div {
    flex: 1;
    height: 100%;
}

.main-item-lastbar > :nth-child(2) {
    border-left: #000000 1px solid;
    width: 50%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: column;
}

.main-item-lastbar.vertical > :nth-child(2) {
    border-top: #000000 1px solid;
    border-left: none;
    width: 100%;
    height: 65%;
}

.main-item-lastbar .main-item-cmt-btn {
    background-image: url(icon/return.png);
}

.main-item.hidden {
    display: none;
}

.main-item-img {
    max-height: 100%;
    max-width: 50%;
    border-radius: var(--border-radius);
    padding: calc(var(--panel-size) * 0.012);
}

.main-item-content {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: column;
    margin-left: calc(var(--panel-size) * 0.015);
    padding: calc(var(--panel-size) * 0.012);
    overflow: hidden;
    position: relative;
}

.main-item-name {
    width: 100%;
    height: calc(var(--panel-size) * 0.076);
    font-size: calc(var(--panel-size) * 0.053);
    font-style: italic;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    color: #882dff;
    margin-top: calc(var(--panel-size) * 0.01);
    scrollbar-width: thin;
}

.main-item-thongtin {
    width: 100%;
    height: calc(100% - var(--panel-size) * 0.2);
    font-size: calc(var(--panel-size) * 0.0415);
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    margin-top: calc(var(--panel-size) * 0.01);
    overflow: auto;
}

.main-item-btns {
    position: absolute;
    z-index: 8;
    right: calc(var(--panel-size) * 0.025);
    bottom: calc(var(--panel-size) * 0.009);
    height: var(--btn-panel-size);
    display: flex;
    flex-direction: row;
}

.main-item-btns > div:hover {
    background-color: rgba(150, 150, 150, 0.527);
}

.main-item-cmt-btn {
    width: var(--btn-panel-size);
    height: var(--btn-panel-size);
    background-image: url('icon/compose.png');
    background-size: calc(var(--panel-size) * 0.06);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
}

.main-item-cmt-length {
    font-weight: normal;
    font-size: calc(var(--panel-size) * 0.037);
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: auto;
    height: var(--btn-panel-size);
    border-radius: var(--border-radius);
    color: #0000008f;
}

.main-item-edit-btn {
    width: var(--btn-panel-size);
    height: var(--btn-panel-size);
    background-image: url('icon/setup.png');
    background-size: calc(var(--panel-size) * 0.06);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
}

.main-item-delete-btn {
    width: var(--btn-panel-size);
    height: var(--btn-panel-size);
    background-image: url('icon/trash.png');
    background-size: calc(var(--panel-size) * 0.06);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
}

.main-item-later {
    width: 100%;
    text-align: right;
    padding: 0 calc(var(--panel-size) * 0.01);
    font-size: calc(var(--panel-size) * 0.035);
    font-weight: normal;
    border-radius: var(--border-radius);
}

.main-item-later:hover {
    background-color: rgb(127, 246, 255);
}

#btn-menu {
    background-color: #a1a9aa80;
    width: var(--btn-panel-size);
    height: calc(var(--btn-panel-size) * 2);
    top: calc(var(--panel-size) * 0.11);
    left: calc(var(--panel-size) * 0.007);
    position: absolute;
    border-radius: var(--border-radius);
    z-index: 15;
    transition: 0.8s;
}

.add-btn-item {
    background-image: url('icon/add.png');
    background-size: var(--btn-icon-size);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50%;
    border-radius: var(--border-radius);
}

.setup-btn-item {
    background-image: url('icon/setup.png');
    background-size: var(--btn-icon-size);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 50%;
    border-radius: var(--border-radius);
}

#btn-menu > div:hover {
    background-color: #00000060;
    cursor: pointer;
}

#setupPanel {
    background-color: #ffffff;
    width: var(--panel-width);
    height: var(--panel-height);
    top: calc(var(--header-height) + var(--panel-size) * 0.005);
    left: -100%;
    position: absolute;
    border-radius: var(--border-radius);
    z-index: 10;
    transition: 0.8s;
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
}

#date-setup {
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    margin-left: 2vh;
}

.slide {
    width: calc(100% - var(--panel-size) * 0.08);
    height: calc(var(--panel-size) * 0.001);
    background-color: #9b9b9b;
    margin: calc(var(--panel-size) * 0.05) calc(var(--panel-size) * 0.04) 0 calc(var(--panel-size) * 0.04);
    box-sizing: border-box;
}

.editBtn {
    position: absolute;
    right: calc(var(--panel-size) * 0.05);
    font-style: italic;
    font-weight: normal;
    color: rgb(22, 26, 255);
    border-bottom: 1px solid;
    padding: 0;
    font-size: calc(var(--panel-size) * 0.04);
}

.editBtn:hover {
    cursor: pointer;
    color: rgb(76, 0, 218);
}

#editMenu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--panel-size) * 0.8);
    height: calc(var(--panel-size) * 0.8);
    box-shadow: 0 0 0 9999px #00000080;
    background-color: #ffffff;
    border-radius: var(--border-radius);
}

#edit-menu-contents {
    width: 96%;
    height: 90%;
    margin: 2%;
    background-color: #ccccccbd;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-menu-btns {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: calc(var(--panel-size) * 0.035);
    font-weight: bold;
    padding-bottom: calc(var(--panel-size) * 0.01);
}

#edit-menu-btns > div {
    margin-left: calc(var(--panel-size) * 0.022);
    box-sizing: border-box;
    padding: calc(var(--panel-size) * 0.022);
    background-color: #dadada;
    border-radius: var(--border-radius);
    height: 85%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

#edit-menu-btns > :nth-child(2) {
    margin-left: calc(var(--panel-size) * 0.25);
}

#edit-menu-btns > div:hover {
    background-color: #00000060;
}

.edit-menu-content-item {
    width: 100%;
    height: calc(var(--panel-size) * 0.085);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.edit-menu-content-item > :nth-child(1) {
    width: 86%;
    height: 85%;
    text-align: left;
    box-sizing: border-box;
    margin: calc(var(--panel-size) * 0.002);
    border-radius: var(--border-radius);
    padding: calc(var(--panel-size) * 0.01) calc(var(--panel-size) * 0.02);
    border: 1px solid #888888;
}

.edit-menu-content-item > :nth-child(2) {
    width: 10%;
    height: 100%;
    background-image: url('icon/trash.png');
    background-size: calc(var(--panel-size) * 0.05);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

#styles-setup,
#fashions-setup {
    width: 100%;
    padding: calc(var(--panel-size) * 0.02);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: column;
    text-align: left;
}

.checked-styles-setup,
.checked-fashions-setup {
    width: 100%;
    padding: calc(var(--panel-size) * 0.005) calc(var(--panel-size) * 0.01);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    margin-left: calc(var(--panel-size) * 0.045);
    font-weight: normal;
    font-size: calc(var(--panel-size) * 0.04);
    text-align: left;
}

#checked-setup {
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    margin-left: calc(var(--panel-size) * 0.04);
    margin-bottom: calc(var(--panel-size) * 0.5);
    font-style: italic;
    font-weight: normal;
    font-size: calc(var(--panel-size) * 0.047);
    text-align: center;
}

.checked-styles-setup > label,
.checked-fashions-setup > label,
#checked-setup > :nth-child(2) {
    margin-left: calc(var(--panel-size) * 0.02);
}

#styles-setup-content,
#fashions-setup-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    flex-direction: column;
    position: relative;
}

#addSpMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: var(--panel-size);
    height: var(--sp-menu-size);
    border-radius: var(--border-radius);
    display: none;
    align-items: center;
    justify-content: top;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 100;
    overflow: hidden;
    box-shadow: #000000 0px 0px calc(var(--panel-size) * 0.025) 0px;
    user-select: none;
}

#add-sp-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    align-content: center;
    padding: calc(var(--panel-size) * 0.02);
    width: 100%;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#add-sp-image-box {
    width: 100%;
    border: none;
    overflow: clip;
    background-color: rgb(216, 216, 216);
    border-radius: var(--border-radius);
}

#add-sp-menu-content > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    margin-top: calc(var(--panel-size) * 0.02);
    font-weight: normal;
}

#add-sp-menu-content > div > input {
    margin-left: calc(var(--panel-size) * 0.01);
    margin-right: calc(var(--panel-size) * 0.03);
    padding: 0 calc(var(--panel-size) * 0.015);
    font-size: calc(var(--panel-size) * 0.04);
    border-color: transparent;
    border-bottom: 1px solid #000000;
}

#add-sp-menu-content > div > input:focus {
    outline: none;
    border-color: transparent transparent #295bff transparent;
}

#add-sp-menu-content > div > select {
    margin-left: calc(var(--panel-size) * 0.01);
    margin-right: calc(var(--panel-size) * 0.03);
    padding: 0 calc(var(--panel-size) * 0.015);
    font-size: calc(var(--panel-size) * 0.04);
    border-color: transparent;
    border-bottom: 1px solid #000000;
    border-radius: 0;
}

#add-sp-menu-content > div > select:focus {
    outline: none;
    border-color: transparent transparent #295bff transparent;
}

#add-sp-btns {
    width: 100%;
    height: calc(var(--panel-size) * 0.11);
    left: 0;
    bottom: 0;
    display: flex;
    padding: calc(var(--panel-size) * 0.01);
    color: #1d1c1c;
}

#add-sp-btns > div {
    padding: calc(var(--panel-size) * 0.01) calc(var(--panel-size) * 0.015);
    font-size: calc(var(--panel-size) * 0.042);
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #d8d8d8;
    border-radius: var(--border-radius);
    margin: calc(var(--panel-size) * 0.01);
    cursor: pointer;
}

#add-sp-btns > :nth-child(2) {
    margin-left: calc(var(--panel-size) * 0.42);
}

#add-sp-btns > div:hover {
    background-color: #00000060;
}

.add-sp-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    margin-top: calc(var(--panel-size) * 0.02);
}

#add-sp-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
}

.add-sp-item > input {
    margin-left: calc(var(--panel-size) * 0.01);
    margin-right: calc(var(--panel-size) * 0.03);
    padding: 0 calc(var(--panel-size) * 0.015);
    font-size: calc(var(--panel-size) * 0.04);
    border-color: transparent;
    border-bottom: 1px solid #000000;
    border-radius: 0;
}

.add-sp-item > input:focus {
    outline: none;
    border-color: transparent transparent #295bff transparent;
}

.add-sp-item .remove-btn {
    width: calc(var(--panel-size) * 0.04);
    height: calc(var(--panel-size) * 0.04);
    background-image: url('icon/trash.png');
    background-size: calc(var(--panel-size) * 0.04);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    align-items: center;
    justify-content: center;
    background-color: #0000008f;
    display: none;
}

#loading-bar {
    width: 80%;
    height: calc(var(--panel-size) * 0.05);
    border: 1px solid #2e2e2e;
    background-color: #ffffffc4;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

#loading-bar-fill {
    width: 0;
    height: 100%;
    transition: 0.5s;
    background-color: #55f9ff;
}

#loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-weight: normal;
    font-size: calc(var(--panel-size) * 0.038);
}

.main-item-comment-content {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.main-item-rep-bar {
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: calc(var(--panel-size) * 0.12);
    max-height: calc(var(--panel-size) * 0.25);
    z-index: 5;
    border-top: #000000 solid 1px;
    background-color: #00000021;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    overflow: hidden;
}

.main-item-input-img {
    height: calc(var(--panel-size) * 0.085);
    width: calc(var(--panel-size) * 0.085);
    background-image: url(icon/image.png);
    background-size: calc(var(--panel-size) * 0.14);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: var(--border-radius);
}

.main-item-input-img:hover {
    background-color: rgb(127, 246, 255);
}

.main-item-rep-input {
    flex: 1;
    min-height: calc(var(--panel-size) * 0.085);
    max-height: calc(var(--panel-size) * 0.2);
    min-width: 0;
    text-align: left;
    padding: calc(var(--panel-size) * 0.02) calc(var(--panel-size) * 0.015);
    font-size: calc(var(--panel-size) * 0.045);
    font-weight: normal;
    overflow: auto;
    text-overflow: clip;
    display: flex;
    scrollbar-width: none;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    overflow: auto;
    resize: auto;
}

.main-item-rep-input:focus {
    outline: none;
}

.main-item-rep-btn {
    height: calc(var(--panel-size) * 0.085);
    width: calc(var(--panel-size) * 0.085);
    background-image: url(icon/paper-plane.png);
    background-size: calc(var(--panel-size) * 0.06);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: var(--border-radius);
    margin-right: calc(var(--panel-size) * 0.008);
}

.main-item-rep-btn:hover {
    background-color: rgb(127, 246, 255);
}

#image-input-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: var(--panel-size);
    height: var(--sp-menu-size);
    border-radius: var(--border-radius);
    display: none;
    align-items: center;
    justify-content: top;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 100;
    overflow: hidden;
    box-shadow: #000000 0px 0px calc(var(--panel-size) * 0.025) 0px;
}

#image-input-bar-contents {
    flex: 1;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: top;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
    overflow-y: auto;
}

.image-date-bar {
    width: 100%;
    margin-bottom: calc(var(--panel-size) * 0.005);
    background-color: rgb(255, 255, 255);
}

.image-date-bar > p {
    font-size: calc(var(--panel-size) * 0.04);
    padding: calc(var(--panel-size) * 0.015);
    text-align: left;
    font-weight: normal;
    margin-bottom: calc(var(--panel-size) * 0.008);
}

.image-content-bar {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

#image-input-bar-btns {
    width: 100%;
    height: 100%;
    height: calc(var(--panel-size) * 0.09);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-top: #0000007c solid 1px;
    margin-bottom: calc(var(--panel-size) * 0.01);
}

#image-input-bar-btns > div {
    padding: calc(var(--panel-size) * 0.0085) calc(var(--panel-size) * 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: calc(var(--panel-size) * 0.048);
    background-color: #cccccc8a;
    margin: calc(var(--panel-size) * 0.01);
    border-radius: var(--border-radius);
}

#image-input-bar-btns > div:hover {
    background-color: #00000060;
}

.image-item-bar {
    width: calc(var(--panel-size) * 0.32);
    padding: calc(var(--panel-size) * 0.01);
    font-size: calc(var(--panel-size) * 0.042);
    font-style: italic;
    font-weight: normal;
    color: #000000;
}

.image-item-bar > img {
    width: 100%;
}

.image-item-bar > div {
    text-align: center;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-item-bar > div.editable {
    text-overflow: clip;
    border: black solid 1px;
    border-radius: var(--border-radius);
}

.image-item-bar > div.editable:focus {
    outline: none;
}

.image-item-bar:hover {
    background-color: #00000028;
}

.image-item-bar.selected {
    background-color: #929292;
    color: #ffffff;
}

.image-item-bar.hidden {
    display: none;
}

#image-input-search-bar {
    width: 100%;
    padding: calc(var(--panel-size) * 0.015);
    height: calc(var(--panel-size) * 0.11);
}

#image-search-input {
    padding: calc(var(--panel-size) * 0.01);
    width: 100%;
    height: 100%;
    font-size: calc(var(--panel-size) * 0.04);
    border-radius: calc(var(--panel-size) * 0.04);
    overflow: hidden;
}

.limgbar {
    position: absolute;
    left: 0;
    bottom: calc(var(--panel-size) * 0.09);
    width: 100%;
    height: calc(var(--panel-size) * 0.31);
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    flex-direction: row;
    user-select: none;
}

.add-img-to-cmt {
    height: calc(var(--panel-size) * 0.24);
    width: calc(var(--panel-size) * 0.24);
    margin-left: calc(var(--panel-size) * 0.01);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.remove-img-to-cmt {
    font-weight: normal;
    width: calc(var(--panel-size) * 0.05);
    height: calc(var(--panel-size) * 0.05);
    font-size: calc(var(--panel-size) * 0.038);
    border-radius: var(--border-radius);
    background-color: #ffffff7c;
}

.remove-img-to-cmt:hover {
    background-color: #ff0000;
}

.main-item-cmt {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    align-content: center;
    margin: calc(var(--panel-size) * 0.01);
}

.main-item-cmt-avt {
    height: calc(var(--panel-size) * 0.08);
    width: calc(var(--panel-size) * 0.08);
    border-radius: calc(var(--panel-size) * 0.05);
    background-size: calc(var(--panel-size) * 0.09);
    background-position: center;
    background-repeat: no-repeat
}

.main-item-cmt > :nth-child(2) {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    align-content: center;
}

.main-item-cmt-note {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    align-content: center;
    margin-left: calc(var(--panel-size) * 0.01);
    margin-right: calc(var(--panel-size) * 0.01);
    margin-top: 0;
    padding: calc(var(--panel-size) * 0.01);
    border-radius: var(--border-radius);
}

.main-item-cmt-user {
    font-weight: bold;
    margin-right: calc(var(--panel-size) * 0.02);
    font-size: calc(var(--panel-size) * 0.04);
}

.main-item-cmt-time {
    font-size: calc(var(--panel-size) * 0.03);
    color: #0000007c;
    margin-top: calc(var(--panel-size) * 0.009);
}

.main-item-cmt-comment {
    font-weight: 500;
    font-size: calc(var(--panel-size) * 0.05);
    text-align: left;
    margin-left: calc(var(--panel-size) * 0.015);
}

.main-item-cmt-comment > img {
    width: 98%;
    border-radius: var(--border-radius);
}

.main-item-cmt-feel-bar {
    width: 97%;
    height: calc(var(--panel-size) * 0.06);
    font-size: calc(var(--panel-size) * 0.04);
    font-weight: normal;
    color: #6e6e6e;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    align-content: center;
    margin-bottom: calc(var(--panel-size) * 0.02);
    cursor: pointer;
}

.main-item-cmt-feel-bar > div:hover {
    background-color: #00000027;
}

.main-item-cmt-setup {
    font-size: calc(var(--panel-size) * 0.08);
    font-weight: normal;
    cursor: pointer;
    color: #242424;
    margin-left: calc(var(--panel-size) * 0.015);
    width: calc(var(--panel-size) * 0.07);
    text-align: center;
    justify-content: top;
    align-items: center;
    align-content: center;
}

#setup-cmt-active {
    display: none;
    box-shadow: #000000 0px 0px calc(var(--panel-size) * 0.3) 0px;
    position: absolute;
    z-index: 100;
    border-radius: var(--border-radius);
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: var(--border-radius);
    overflow: hidden;
}

#setup-cmt-active > div {
    font-weight: 300;
    font-size: calc(var(--panel-size) * 0.052);
    color: #000000;
    cursor: pointer;
    text-align: left;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: calc(var(--panel-size) * 0.4);
    height: calc(var(--panel-size) * 0.092);
    padding: calc(var(--panel-size) * 0.024);
}

#setup-cmt-active > div:hover {
    background-color: #00000031;
}

#edit-cmt-active {
    box-shadow: #000000 0px 0px calc(var(--panel-size) * 0.3) 0px;
    position: absolute;
    z-index: 100;
    border-radius: var(--border-radius);
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: var(--border-radius);
    overflow: hidden;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#edit-cmt-active > img {
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin: calc(var(--panel-size) * 0.01);
    width: calc(var(--panel-size) * 0.8);
}

#edit-cmt-active > textarea {
    height: calc(var(--panel-size) * 0.27);
    padding: calc(var(--panel-size) * 0.01);
    font-size: calc(var(--panel-size) * 0.04);
    border-radius: var(--border-radius);
    width: calc(var(--panel-size) * 0.8);
    margin: calc(var(--panel-size) * 0.005);
}
#edit-cmt-active > textarea:focus {
    outline: none;
    border: #1768ff 1px solid;
}

#edit-cmt-active-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: calc(var(--panel-size) * 0.01);
    width: 100%;
    margin: 0;
}

#edit-cmt-active-btns > div {
    font-weight: 300;
    font-size: calc(var(--panel-size) * 0.04);
    color: #000000;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    height: calc(var(--panel-size) * 0.072);
    padding: calc(var(--panel-size) * 0.015);
    margin: 0;
}

#edit-cmt-active-btns > :nth-child(1) {
    border-right: #00000033 calc(var(--panel-size) * 0.003) solid;
}

#edit-cmt-active-btns > div:hover {
    background-color: #00000031;
}

#delete-image-edit-cmt {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: calc(var(--panel-size) * 0.01);
}